html {
  background-color: #e2e2e2;
  font-family: sans-serif;
  padding-top: 6em;
}

figcaption {
  position: absolute;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all .2s linear;
  position: absolute;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:first-child {
  left: 20%;
  margin-right: -50%;
  transform: rotate(-15deg);
}

.polaroid:nth-child(2) {
  top: 4%;
  left: 30%;
  margin-right: -50%;
  transform: rotate(5deg);
  z-index: 1;
}

.polaroid:nth-child(3) {
  left: 40%;
  margin-right: -50%;
  transform: rotate(35deg);
}

.polaroid:nth-child(3):hover {
  transform: rotate(0deg);
  z-index: 1;
}

.polaroid:nth-child(2):hover {
  transform: rotate(0deg);
  z-index: -1;
}

.polaroid:first-child:hover {
  transform: rotate(0deg);
  z-index: 1;
}

.polaroid:hover {
  box-shadow: 5px 10px;
}
